.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    min-width: 260px;
    margin: 0 var(--spacing-md) 0 0;

    @include phone {
      margin: 0;
    }
  }

  @include phone {
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: center;
  }

  .refresh-block {
    display: flex;
    width: 100%;
    align-items: stretch;
    gap: 0;

    &.error {
      gap: var(--spacing-sm);
    }

    @include phone {
      flex-direction: column;
    }

    .alert {
      display: flex;
      align-items: center;
      gap: var(--spacing-xs);

      svg {
        min-width: 28px;
        min-height: 28px;
      }

      opacity: 0;
      width: 100%;
      transition: all 0.3s ease;

      &.error {
        padding: var(--spacing-md);
        opacity: 1;

        &>* {
          display: unset;
        }
      }

      &>* {
        display: none;
      }

      span {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-medium);

        @include phone {
          font-size: var(--font-size-smmd);
        }
      }
    }

    .refresh-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--spacing-smmmd) var(--spacing-xxl);
      gap: var(--spacing-xs);

      @include phone {
        padding: var(--spacing-smmmd);
        width: 100%;
      }

      .refresh-icon {
        &.loading {
          animation: spin 0.5s infinite linear;
        }

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }

          to {
            transform: rotate(-360deg);
          }
        }
      }
    }
  }
}
