.card {
  min-width: 92px;
  padding: var(--spacing-xxs) var(--spacing-xxxs);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);

  &.scheduled {
    padding: var(--spacing-xxs) var(--spacing-xsmd);
  }

  @include phone {
    min-width: 72px;
    max-width: 72px;
    text-align: center;
  }
}
