@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', "Open Sans", sans-serif;
}

:root {
  background-color: var(--color-background);
  color: var(--color-text);
  // colors
  --color-background: #06080C;
  --color-text: #fff;

  // fonts

  // spacings
  --spacing-lg: 20px;
  --spacing-xl: 42px;
}
