@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', "Open Sans", sans-serif;
}

ul,
li {
  list-style: none;
}

:root {
  background-color: var(--color-background);
  color: var(--color-text);
  // colors
  --color-background: #06080C;
  --color-background-secondary: #0F1318;
  --color-background-secondary-variant2: #0B0E12; // Может, в макете такое случайно получилось.
  //                                                   Там еще градиентные карточки были, но их нигде не использовали
  --color-primary: #EB0237;
  --color-accent: #43AD28;
  --color-accent-secondary: #EB6402;
  --color-text: #fff;

  // fonts
  --font-size-sm: 12px;
  --font-size-smmd: 16px; // такой макет
  --font-size-md: 18px;
  --font-size-lg: 24px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  // spacings
  --spacing-xxxs: 2px;
  --spacing-xxs: 6px;
  --spacing-xsmd: 8px;
  --spacing-xs: 10px;
  --spacing-sm: 12px;
  --spacing-smmd: 14px; // такой макет
  --spacing-smmmd: 15px; // такой макет
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 32px;
  --spacing-xxl: 42px;

  // border
  --border-radius-sm: 4px;
}
