.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-height: 88px;
  padding: var(--spacing-md);


  .briefContent {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-weight: var(--font-weight-semibold);

    .command {
      font-size: var(--font-size-smmd);

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--spacing-smmd);

      &:last-child {
        flex-direction: row-reverse;
      }

      .logo {
        min-width: 48px;
        min-height: 48px;
      }

      .logoSmall {
        display: none;
      }

      @include phone {
        font-size: var(--font-size-sm);

        .logo {
          display: none;
        }

        .logoSmall {
          display: unset;
          min-width: 28px;
          min-height: 28px;
        }
      }

    }

    .status {
      display: flex;
      flex-direction: column;
      align-items: center;

      .score {
        font-size: var(--font-size-lg);

        @include phone {
          font-size: var(--font-size-sm);
        }
      }
    }


    &.skeleton {
      background-color: var(--color-background-secondary-variant2);

      &.loading {
        animation: skeleton 1.5s infinite ease-in-out;


        @keyframes skeleton {
          0% {
            background-color: var(--color-background-secondary-variant2);
          }

          50% {
            background-color: var(--color-background-secondary);
          }

          100% {
            background-color: var(--color-background-secondary-variant2);
          }
        }
      }
    }
  }

  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .divider {
      display: none;
    }

    @include phone {
      flex-direction: column;

      .divider {
        width: 100%;
        display: flex;
        align-items: center;
        gap: var(--spacing-xs);
        color: var(--color-secondary);
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-sm);
      }

      .divider::before,
      .divider::after {
        content: '';
        flex: 1;
        height: 1px;
        background: currentColor;
      }
    }
  }
}
